[Unit]
Description=Awesome Router 2 Web GUI
After=network-online.target awesome-router-apply.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/awesome-router/wsgi.py
Restart=always
RestartSec=5
Nice=10
NoNewPrivileges=true
WorkingDirectory=/opt/awesome-router
Environment=FLASK_HOST=10.188.147.113
Environment=FLASK_PORT=5000

[Install]
WantedBy=multi-user.target
